* {
    padding: 0%;
    margin: 0%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: yellow;
    padding: 0%;
    margin-top: 10px;
}



nav {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    gap: 30px;

}


div {
    display: flex;
    align-items: center;
    gap: 30px;
}

button {
    display: flex;
    gap: 30px;
}

.API {
    display: inline;
    align-items: center;
    justify-content: center;
    background: transparent;
    color: black;
    border: none;
   
}

.HELP {
    display: inline;
    justify-content: center;
    background: transparent;
    color: black;
    border: none;

}

.LOGIN {
    display: inline;
    justify-content: center;
    background: transparent;
    color: black;
    border: none;
}

.Signup {
    display: inline;
    background: transparent;
    background: rgb(245, 20, 137);
    width: 100px;
    border-radius: 20px;
    height: 30px;
    border: none;
}

#hero{
    width: 100%;
    height: 100vh;
    background-image: url('./images/Screen.svg');
    
}